[data-testid="column"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5% 5% 5% 10%;
  border-radius: 5px;

  border-left: 0.5rem solid #9ad8e1 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
